@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 1170px;
    }
}

@media only screen and (min-width:200px) and (max-width:575px) {
    
    .btn-outer{
        position: fixed;
        bottom: 0px;
        width: 100%;
        left: 0px;
        justify-content: center !important;
        background-color: white;
        padding: 5px 0px;
    }

    .whatsappbtn,.call{
        padding: 7px 15px;
        font-size: 14px;
    }

    .banner-content h1{
     font-size: 28px;
     font-weight: 700;
     text-align: center;
     line-height: 35px;
}
    .banner-content br{
     display: none;
}

.banner-content p,.banner-content ul li i{
    font-size: 14px;
}

.banner-content-btn{
    flex-direction: column;
}

.banner-content-btn button{
    width: 100%;
}
.banner-form{
     padding: 20px;
}

.highlights-section h2{
    
    font-size: 28px;
} 

}